.password-gen__result{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width:211px ;
    min-height: 39px;
    background: rgba(39, 53, 73, 1);
    border-radius: 6px;
    color: rgba(85, 249, 145, 1);
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
}